@font-face {
  font-family: "Dimis";
  src: url(../src/assets/font/DIMIS___.TTF) format('truetype');
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color-scheme: light dark;
  color: #242424;
  background-color: #f1f1f1;

  --main-color: #ffa800;
  --main-color-hover: #eb9202;
  --main-color-transparent: #ffaa00b6;
  --bg-color: #f1f1f1;
  --font-color: #242424;
  --secondary-color: #3D91C0;
  --secondary-color-hover: #1e72a2;
  --marvel-color: #ed1d24;
  --dc-color: #0078f0;
  --transparent-color: rgba(0, 0, 0, 0.6);
  --navbar-height: 100px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 0.3em;
  font-size: inherit;
  color: var(--bg-color);
  background-color: #094466;
  border: none;
  outline: none;
}

option {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: var(--font-color);
  background-color: var(--bg-color);
  border: none;
  height: 50px;
  border-radius: none;
  text-align: start;
}

select:hover {
  background-color: #0a5a7f;
}

.btn {
  background-color: #3D91C0;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  border: none;
  box-shadow: 5px 5px 0px #003d61;
  transition: 0.4s ease;
  text-decoration: none;
  text-align: center;
  padding: 10px 25px;
  align-items: center;
}

.btn:hover {
  background-color: #1e72a2;
  box-shadow: 0px 0px 0px rgba(51, 51, 51, 0);
  text-decoration: none;
  cursor: pointer;
  color: white;
  transition: 0.2s ease;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */